<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr class="content-hr" />
    <p>This library uses the CSS mix-blend-mode to bring Dark Mode to any of your websites. Just <br />copy-paste the snippet and you will get a widget to turn on and off the Dark Mode.<br /> You can also use it without the widget programmatically. The plugin is lightweight, built-in Vanilla.<br /> It also uses local storage by default, so your last setting will be remembered!</p>
</body>
</html>